{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.user_id.label }}<br>
            {{ form.user_id(size=32) }}
            {% for error in form.user_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>  
        <p>{{ form.submit() }}</p>
    </form>
    <footer><h2>New User? <a href="{{ url_for('register') }}">Click to Register!</a></h2></footer>
{% endblock %}